/* Спецификация */

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #340c3e;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

section {
	padding: 70px 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.section-title {
	color: #340c3e;
	font-weight: 900;
	font-family: "Roboto", sans-serif;
	margin-bottom: 42px;
}

.btn {
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	display: block;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	position: relative;
}

.btn_clear {
	border: 2px solid rgba(255,255,255,0.79);
	color: #fff;
	padding: 17px 0px;
	width: 225px;
}

.btn_solid {
	background: #FF0199;
	color: #fff;
	padding: 19px 0px;
	border: none;
	transition: box-shadow .5s linear;
}

.btn_solid:hover {
	box-shadow: 0px 4px 40px rgba(133, 10, 83, 0.25);
	transition: box-shadow .5s linear;
}

.btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn:hover span {
	padding-right: 25px;

}

.btn:hover span:after {
	opacity: 1;
	right: 0;
}

/*   header */

.header {
	background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(28,10,148,1) 0%, rgba(235,39,199,1) 100%);
	color: #fff;
	height: 100%;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 35px 0;
}

.logo {
	display: block;
}

.menu {
	display: block;
}

.menu__list {
	display: flex;
	width: 480px;
	justify-content: space-between;
}

.menu__item {
	
}

.menu__link {
	text-decoration: none;
	color: #fff;
}

.btn-nav {}

.main {
	display: flex;
	align-items: center;
}

.offer {
	padding: 5px 0 120px;
	position: absolute;
}

.offer__title {
	font-size: 60px;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: 900;
	font-family: "Roboto", sans-serif;
}

.offer__span {
	display: block;
}

.offer__list {
	margin: 40px 0;
}

.offer__item {
	padding-left: 40px;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background: url(../img/icon-check.png) no-repeat;
}

.offer__text {
	
}

.offer__btn {
	width: 200px;
}

.photo-girl {
	width: 993px;
	height: 718px;
	margin-left: auto;
	margin-right: -10px;

}

/*    services    */

.services-grid {
	display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    grid-row-gap: 0px;
}

.services-wrap {
	width: 370px;
	padding-right: 15px;
	display: flex;
	padding-left: 75px;
	background-repeat: no-repeat;
}

.services-wrap_sport {
	background-image: url(../img/icon-sport.png);
}

.services-wrap_adviser {
	background-image: url(../img/icon-adviser.png);
}

.services-wrap_video {
	background-image: url(../img/icon-video.png);
}

.services-wrap__icon {
	display: block;
	width: 60px;
	height: 60px;
}

.services-wrap__inner {
	margin-top: 10px;
}

.services-wrap__title {
	margin-bottom: 15px;
}


.services-wrap__title_red {
	color: #db1e3d;
}

.services-wrap__title_blue {
	color: #008cc1;
}

.services-wrap__title_green {
	color: #10c03a;
}

.services-wrap__text {

}

/*    facilities   */

.facilities {
	background-color: #FEF8FC;
	background-image: url(../img/dowload-me.svg) no-repeat;
}

.content {
	display: flex;
}

.content-box {
	display: flex;
	flex-direction: column;
}

.tabs-wrap {
	max-width: 470px;
}
.tabs-wrap_wrapper {
	width: 410px;
	display: flex;
}

.tabs-wrap__btn-tab {

}

.btn-tab {
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	color: #340c3e;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	background-color: #FEF8FC;
	border-bottom: 1px solid #0586bb;
	padding: 5px 15px;
}

.btn-tab.active {
	color: #0586bb;
	border: 1px solid #0586bb;
	border-bottom: none;
}

.tabs-wrap__box {}

.tabs-wrap__inner {
	margin-top: 32px;
}

.tabs-wrap__text {
	margin-bottom: 25px;
	display: block;
}

.tabs-wrap__text:last-child {
	margin-bottom: 0;
}

.dowload {
	margin-top: auto;
	display: flex;
}

.dowload__link {
	display: block;
}

.dowload__link:first-child {
	margin-right: 30px;
}

.devices{
	margin-left: auto;
}

/*   info  */

.info {
	padding: 30px 0 0;
}

.info-content {
	display: flex;
}

.info-wrap {
	display: flex;
}

.section-title_info {
	margin-top: 35px;
}

.contacts {
	display: block;
	margin-right: 70px;
	width: 140px;
}

.contacts__item {
	margin-bottom: 35px;
}

.contacts__item:last-child {
	margin-bottom: 0;
}

.contacts__title {
	margin-bottom: 17px;
}

.contacts__link {
	text-decoration: none;
	color: #340c3e;
	display: block;
	margin-bottom: 13px;
}

.contacts__link:last-child {
	margin-bottom: 0;
}

.call-blok {
	display: block;
	width: 420px;
}

.call-blok__title {
	margin-bottom: 13px;
}

.call-blok__form {}

.call-blok__input {
	display: block;
	width: 100%;
	outline: none;
	color: #340c3e;
	border: none;
	border-bottom: 1px solid #340c3e;
	font-size: 16px;
	margin-bottom: 25px;
}

.call-blok__input::placeholder {
  color: #340c3e;
  font-size: 14px;
  opacity: 0.5;
}


.call-blok__input:last-child {
	margin-bottom: 0;
}

.call-blok__input_big {
	padding-bottom: 50px;
}

.call-blok__btn {
	width: 100%;
	font-size: 16px;
	margin-top: 30px;
}

.info-img {
	margin-left: 40px;
}


/*   footer   */

.footer {
	padding: 72px 0;
	background: #330A3D;
	color: #fff;
}

.footer-row {
	opacity: 0.7;
	display: flex;
	align-items: center;
}

.logo {}

.copywriting {
	margin-left: 170px;
}

.btn-footer {
	margin-left: auto;
}

/*   responsive   */


@media (max-width: 1400px) {

	.container {
		max-width: 1320px;
	}

	.btn_clear {
		padding-top: 10px;
		padding-bottom: 12px;
	}

	.btn_solid {
		padding-top: 12px;
		padding-bottom: 14px
	}

	.header {
		height: auto;
	}

	.offer {
		padding-bottom: 60px;
	}

	.offer__title {
		font-size: 45px;
	}

	.photo-girl {
		height: 60%;
		width: 60%;
	}

	.devices {
		height: 40%;
		width: 40%;
	}

	.info-wrapper {
		position: absolute;
	}

	.info-img {
		margin-left: auto;
		height: 50%;
		width: 50%;
	}

	.call-blok {
		width: 380px;
	}

	.call-blok__input {
		background-color: rgba(0, 125, 215, 0);
	}
}

@media (max-width: 1200px) {

	.container {
		max-width: 960px;
	}

	body {
		font-size: 15px;
	}

	section {
		padding: 65px 0;
	}

	.offer__title {
		font-size: 34px;

	}

	.section-title_center {
		text-align: center;
	}

	.section-title {
		margin-bottom: 36px
	}

	.services-grid {
		max-width: 800px;
		display: grid;
	    grid-template-columns: repeat(2, auto);
	    grid-row-gap: 40px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.tabs-wrap__text {
		margin-bottom: 18px;
	}

	.devices {
		height: 37%;
		width: 37%;	
	}

	.info-img {
		margin-left: auto;
	}
}

@media (max-width: 992px) {

	.container {
		max-width: 720px;
	}

	section {
		padding: 45px 0;
	}

	.btn_solid {
		padding-top: 9px;
		padding-bottom: 12px;
		width: 200px;
	}

	.btn_clear {
		padding-top: 8px;
		padding-bottom: 11px
	}

	.btn-nav {
		width: 200px;
	}

	.nav {
		padding-top: 10px;
	}

	.offer {
		padding-top: 100px 0;
	}

	.logo {
		width: 80px;
	}

	.menu {
		display: none;
	}

	.photo-girl {
		width: 430px;

	}

	.content-box {
		max-width: 410px;
	}

	.dowload {

	}

	.dowload__img {
		margin-right: 10px
	}

	.dowload__img {
		width: 65%;
		border-radius: 5px;
	}

	.btn-tab {
		font-size: 17px;
	}

	.services-wrap__text {
		max-width: 250px;
	}

	.tabs-wrap__inner {
    margin-top: 22px;
  }

  .tabs-wrap__text {
  	margin-bottom: 14px;
  	font-size: 13px;
  }

  .dowload {
  	margin-top: 40px;
  }

  .dowload__img {
  	margin-right: 
  }
}

@media (max-width: 768px) {

	.container {
		max-width: 540px;
	}

	p {
		font-size: 13px;
	}

	.services-grid {
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 20px;
    margin: 0 auto;
  }

  .devices {
  	display: none;
  }

  .photo-girl {
    width: 350px;
	}
  
  .header {
  	padding-bottom: 40px;
  } 

  .offer {
  	padding-top: 40px;
  }

  .call-blok {
    width: 100%;
	}

	.contacts {
		display: none;
	}

	.call-blok__input {
		display: none;
	}

	.copywriting {
    margin-left: 40px;
	}

	.call-blok__btn {
		margin-top: 15px;
	}
}


}





.header {                     	      }
.services{ 								 }
.facilities{ 							 }
.info{  									 }
.footer {            							     }


.btn-footer {

}




